*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    overflow-y:hidden;
}
.carrousel__prev-item, .carrousel__next-item{
    width:30px;
    height:30px;
    font-weight: bold;
    font-size: 25px;
}
.carrousel{
    display: flex;
    justify-content: space-around;
    height:100vh;
}
#publicity-prev,#publicity-next{
    margin-top:50vh;
}
#publicity-next{
    left:70%;
}
#publicity-welcome,#publicity-background,.publicity{
    height:100vh;
    transition:opacity 0.5s , width 1s, height 1s, transform 0.5s;
}
.publicity{
    position:absolute;
    min-width: 250px;
    width:30%;
    height:90%;
    left:50%;
    top:5%;
    background-color: aliceblue;
    box-shadow: 0 2px 3px black;
    transform:translateX(-50%);
    transition-timing-function: linear;
}
.close-article{
    position:absolute;
    z-index:2;
    right:3%;
    background:none;
    font-size:40px;
    border:none;
    cursor:pointer;
}
.close-article:focus{
    outline: none;
}
.close-article:hover{
    color: white;
    text-shadow:0 0 3px orangered;
}
#publicity-background{
    position:absolute;
    background-color:rgb(211, 211, 211);
    opacity:0.5;
    width:100vw;
    z-index: -1;
}
.fade-left{
    transform:translateX(-100%);
    opacity:0;
}
.fade-right{
    transform:translateX(0%);
    opacity:0;
}
.hide{
    opacity:0;
}
.small-resize,.small-resize *{
    width:0;
    height:0;
}

/*------------------------------------------------MEDIA-----------------------------------------------------*/

@media screen and (max-width:700px){
    #publicity-carrousel{
        justify-content: space-between;
    }
}

@media screen and (max-width:400px){
    .carrousel__prev-item, .carrousel__next-item{
        opacity:0.5;
        z-index:2;
    }
}